In [ ]:
# Dictionary
# index
# orderd
# duplicate value and multiple data
# mutable

In [1]:
d = dict()

In [ ]:
# d = {<key>:<value>,<key>:<value>,.......}

In [4]:
d = {'a':'Apple','b':'ball','c':'cat'}
d['c']

'cat'

In [3]:
d = {'a':'Apple','b':'ball','c':'cat'}
print(d)
print(type(d))

{'a': 'Apple', 'b': 'ball', 'c': 'cat'}
<class 'dict'>

In [5]:
d = {'a':'Apple','b':'ball','c':'cat'}
a = {'d':'dog'}
print(a+d)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [6]:
d = {'a':'Apple','b':'ball','c':'cat'}
d*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [7]:
d = {'a':'Apple','b':'ball','c':'cat'}
print(len(d))

3

In [10]:
d = {'a':'Apple','b':'ball','c':'cat','A':'Apple'}
d

{'a': 'Apple', 'b': 'ball', 'c': 'cat', 'A': 'Apple'}

In [12]:
d = {'A':'Apple','b':'ball','c':'cat','A':'Apple'}
d

{'A': 'Apple', 'b': 'ball', 'c': 'cat'}

In [13]:
d = {'A':'Apple','b':'ball','c':'cat','A':'Ant'}
d

{'A': 'Ant', 'b': 'ball', 'c': 'cat'}

In [15]:
a = {}
a['a'] = 'Apple'
a['b'] = 'Ball'
a

{'a': 'Apple', 'b': 'Ball'}

In [19]:
d = {}
n = int(input('Enter N = '))
for i in range(n):
    name = input('Enter Name = ')
    phone = input('Enter Phone = ')
    d[name] = phone
    
print(d)

Enter N = 2
Enter Name = anil
Enter Phone = 9876543
Enter Name = arjun
Enter Phone = 98765432
{'anil': '9876543', 'arjun': '98765432'}

In [ ]:
# {'anil': '9876543', 'arjun': '98765432'}

In [20]:
d = {'anil': '9876543', 'arjun': '98765432'}
for i in d.values():
    print(i)

9876543
98765432

In [22]:
d = {'anil': '9876543', 'arjun': '98765432'}
for i in d.items():
    print(i)

('anil', '9876543')
('arjun', '98765432')

In [23]:
l = []
d = {'anil': '9876543', 'arjun': '98765432'}
for i in d.items():
    l.append(i)
print(l)

[('anil', '9876543'), ('arjun', '98765432')]

In [24]:
l = [('anil', '9876543'), ('arjun', '98765432')]
dict(l)

{'anil': '9876543', 'arjun': '98765432'}

In [25]:
d = {'anil': '9876543', 'arjun': '98765432'}
d['anil'] = 970000000
d

{'anil': 970000000, 'arjun': '98765432'}

In [26]:
# del 
d = {'anil': '9876543', 'arjun': '98765432'}
del d['arjun']
d

{'anil': '9876543'}

In [27]:
# pop
d = {'anil': '9876543', 'arjun': '98765432'}
d.pop('arjun')
d

{'anil': '9876543'}

In [28]:
a = {100:'Anil'}
a

{100: 'Anil'}

In [30]:
#tuple as key
d = {('anil','nabin'): '9876543', 'arjun': '98765432'}
d[('anil','nabin')]

'9876543'

In [33]:
# list inside dictionary
d = {'anil': ['9876543','987654323456'], 'arjun': ['98765432','23456789']}

d['anil']

['9876543', '987654323456']

In [34]:
d = {}
n = int(input('Enter N = '))
for i in range(n):
    name = input('Enter Name = ')
    ntc_phone = input('Enter Ntc_Phone = ')
    ncell_phone = input('Enter Ncell_Phone = ')
    d[name] = [ntc_phone,ncell_phone]
    
print(d)

Enter N = 2
Enter Name = anil
Enter Ntc_Phone = 989876543
Enter Ncell_Phone = 987654321
Enter Name = arjun
Enter Ntc_Phone = 98765432
Enter Ncell_Phone = 987654321
{'anil': ['989876543', '987654321'], 'arjun': ['98765432', '987654321']}

In [35]:
d = {'anil': ['9876543','987654323456'], 'arjun': ['98765432','23456789']}

d['Akash'] = [98547468,987534257384]
d

{'anil': ['9876543', '987654323456'],
 'arjun': ['98765432', '23456789'],
 'Akash': [98547468, 987534257384]}

In [40]:
d = {'anil': ['9876543', '987654323456'],'arjun': ['98765432', '23456789']}
d['ram sah'][0] = 9817853704
d

KeyError: 'ram sah'

In [41]:
d = {}
na = []
ag = []
ad = []
n = int(input('enter n = '))
for i in range(n):
    name = input('name = ')
    age = input('age')
    add = input('add = ')
    na.append(name)
    ag.append(age)
    ad.append(add)
    
d = {'Name':na, 'Age':ag,'Address':ad}

d

enter n = 2
name = anil
age25
add = jnkp
name = arjun
age22
add = ktm

{'Name': ['anil', 'arjun'], 'Age': ['25', '22'], 'Address': ['jnkp', 'ktm']}

In [2]:
d = {'Name': ['anil', 'arjun'], 'Age': ['25', '22'], 'Address': ['jnkp', 'ktm']}
d['Name'].append('Rita')
d['Age'].append(30)
d['Address'].append('jankpur')
d

{'Name': ['anil', 'arjun', 'Rita'],
 'Age': ['25', '22', 30],
 'Address': ['jnkp', 'ktm', 'jankpur']}

In [4]:
a = [{'Name': 'Ram', 'Age':35, 'Address':'Ktms'},
     {'Name': 'Shyam', 'Age':35, 'Address':'Ktma'},
     {'Name': 'hari', 'Age':35, 'Address':'Ktma'}]
a

[{'Name': 'Ram', 'Age': 35, 'Address': 'Ktms'},
 {'Name': 'Shyam', 'Age': 35, 'Address': 'Ktma'},
 {'Name': 'hari', 'Age': 35, 'Address': 'Ktma'}]

In [6]:
#dict inside list
[{'Name': 'Ram', 'Age': 35, 'Address': 'Ktms'},
 {'Name': 'Shyam', 'Age': 35, 'Address': 'Ktma'},
 {'Name': 'hari', 'Age': 35, 'Address': 'Ktma'}]
a[1]

{'Name': 'Shyam', 'Age': 35, 'Address': 'Ktma'}

In [7]:
for i in range(len(a)):
    print(a[i])

{'Name': 'Ram', 'Age': 35, 'Address': 'Ktms'}
{'Name': 'Shyam', 'Age': 35, 'Address': 'Ktma'}
{'Name': 'hari', 'Age': 35, 'Address': 'Ktma'}

In [9]:
a.append({'Name': 'Aaakash', 'Age': 12, 'Address': 'Ktmndu'})
a

[{'Name': 'Ram', 'Age': 35, 'Address': 'Ktms'},
 {'Name': 'Shyam', 'Age': 35, 'Address': 'Ktma'},
 {'Name': 'hari', 'Age': 35, 'Address': 'Ktma'},
 {'Name': 'Aaakash', 'Age': 12, 'Address': 'Ktmndu'}]

In [4]:
data = []
n = int(input('enter n = '))
for i in range(n):
    name = input('name = ')
    age = input('age')
    add = input('add = ')
    info = {'Name':name, 'Age':age,'Address':add}
    data.append(info)
    
print(data)

enter n = 2
name = anil
age20
add = ktmr
name = ram
age34
add = sant
[{'Name': 'anil', 'Age': '20', 'Address': 'ktmr'}, {'Name': 'ram', 'Age': '34', 'Address': 'sant'}]

In [5]:
a = [{'Name': 'hari', 'Age': '35', 'Address': ['Ktma','dolkha']},
 {'Name': 'Aaakash', 'Age': '12', 'Address': ['Ktmndu','jnkpp']}]

a

[{'Name': 'hari', 'Age': '35', 'Address': ['Ktma', 'dolkha']},
 {'Name': 'Aaakash', 'Age': '12', 'Address': ['Ktmndu', 'jnkpp']}]

In [6]:
a = {1:{'Name': 'Shyam', 'Age': 35, 'Address': 'Ktma'},
     2:{'Name': 'hari', 'Age': 35, 'Address': 'Ktma'}}

a

{1: {'Name': 'Shyam', 'Age': 35, 'Address': 'Ktma'},
 2: {'Name': 'hari', 'Age': 35, 'Address': 'Ktma'}}

In [7]:
a[3] = {'Name': 'riya', 'Age': 35, 'Address': 'Ktma'}
a

{1: {'Name': 'Shyam', 'Age': 35, 'Address': 'Ktma'},
 2: {'Name': 'hari', 'Age': 35, 'Address': 'Ktma'},
 3: {'Name': 'riya', 'Age': 35, 'Address': 'Ktma'}}

In [8]:
a[1]['name'] = 'rama'
a

{1: {'Name': 'Shyam', 'Age': 35, 'Address': 'Ktma', 'name': 'rama'},
 2: {'Name': 'hari', 'Age': 35, 'Address': 'Ktma'},
 3: {'Name': 'riya', 'Age': 35, 'Address': 'Ktma'}}

In [10]:
data = {}
n = int(input('enter n = '))
for i in range(1,n+1):
    name = input('name = ')
    age = input('age')
    add = input('add = ')
    data[i] = {'Name':name, 'Age':age,'Address':add}
    
print(data)

enter n = 2
name = rihan
age34
add = ahshdjd
name = rama
age48
add = wehh
{1: {'Name': 'rihan', 'Age': '34', 'Address': 'ahshdjd'}, 2: {'Name': 'rama', 'Age': '48', 'Address': 'wehh'}}

In [11]:
del data[1]
data

{2: {'Name': 'rama', 'Age': '48', 'Address': 'wehh'}}

In [12]:
a = {1: {'Name': 'rihan', 'Age': '34', 'Address': 'ahshdjd'}, 
 2: {'Name': 'rama', 'Age': '48', 'Address': 'wehh'}}
del a[1]['Name']
a

{1: {'Age': '34', 'Address': 'ahshdjd'},
 2: {'Name': 'rama', 'Age': '48', 'Address': 'wehh'}}

In [13]:
a.clear()
a

{}

In [14]:
a = {1: {'Name': 'rihan', 'Age': '34', 'Address': {'per':'ahshdjd','temp':'patan'}}, 
 2: {'Name': 'rama', 'Age': '48', 'Address':{'per':'wehh','temp':'patan'}}}
print(a)

{1: {'Name': 'rihan', 'Age': '34', 'Address': {'per': 'ahshdjd', 'temp': 'patan'}}, 2: {'Name': 'rama', 'Age': '48', 'Address': {'per': 'wehh', 'temp': 'patan'}}}

In [ ]:
# wap for billing application (prdtct name,price,quantity,total) by using dic and list
# wap for result management sys (marks,total,per,grade) by using dict inside dict
 #create read update del

In [15]:
a.update()
a

{1: {'Name': 'rihan',
  'Age': '34',
  'Address': {'per': 'ahshdjd', 'temp': 'patan'}},
 2: {'Name': 'rama', 'Age': '48', 'Address': {'per': 'wehh', 'temp': 'patan'}}}

In [1]:
d = {}
n = int(input('Enter N = '))
for i in range(n):
    name = input('Enter Name = ')
    ntc_phone = input('Enter Ntc_Phone = ')
    ncell_phone = input('Enter Ncell_Phone = ')
    d[name] = [ntc_phone,ncell_phone]
    
print(d)

Enter N = 2
Enter Name = anil
Enter Ntc_Phone = 984323456
Enter Ncell_Phone = 9864433233
Enter Name = arjun
Enter Ntc_Phone = 9873534544
Enter Ncell_Phone = 98765432
{'anil': ['984323456', '9864433233'], 'arjun': ['9873534544', '98765432']}

In [ ]:
# wap for billing application (prdtct name,price,quantity,total) by using dic and list

In [35]:
total = {}
data = {}
n = int(input('Enter N = '))
for i in range(1,n+1):
    user_name = input('Enter User_Name = ')
    productname = input('Enter Product_Name = ')
    price = input('Enter Price = ')
    quantity = input('Enter Quantity = ')
    address = input('Enter Address = ')
    total = {price,quantity}
    data[user_name,i] = [productname,price,quantity,address]
    
print(data)
print(total)

Enter N = 2
Enter User_Name = Anil
Enter Product_Name = Apple
Enter Price = 50000
Enter Quantity = 400
Enter Address = JNKP
Enter User_Name = Aayush Sir
Enter Product_Name = Tesla
Enter Price = 60000
Enter Quantity = 500
Enter Address = KTM
{('Anil', 1): ['Apple', '50000', '400', 'JNKP'], ('Aayush Sir', 2): ['Tesla', '60000', '500', 'KTM']}
{'60000', '500'}

In [36]:
data.update()
data

{('Anil', 1): ['Apple', '50000', '400', 'JNKP'],
 ('Aayush Sir', 2): ['Tesla', '60000', '500', 'KTM']}

In [37]:
del data['Anil',1]
data

{('Aayush Sir', 2): ['Tesla', '60000', '500', 'KTM']}

In [ ]:
# wap for result management sys (marks,total,per,grade) by using dict inside dict

In [41]:
total = {}
data = {}
n = int(input('Enter N = '))
for i in range(1,n+1):
    student_name = input('Enter Student_Name = ')
    marks = input('Enter Marks = ')
    percent = input('Enter Percent = ')
    grade = input('Enter Grade = ')
    total = {marks,percent}
    data[student_name,i] = [marks,percent,grade]
    
print(data)
print(total)

Enter N = 2
Enter Student_Name = Akash Sah
Enter Marks = 600
Enter Percent = 60%
Enter Grade = B
Enter Student_Name = Hari Sah
Enter Marks = 700
Enter Percent = 70%
Enter Grade = B+
{('Akash Sah', 1): ['600', '60%', 'B'], ('Hari Sah', 2): ['700', '70%', 'B+']}
{'70%', '700'}

In [42]:
data.update()
data

{('Akash Sah', 1): ['600', '60%', 'B'], ('Hari Sah', 2): ['700', '70%', 'B+']}

In [43]:
del data['Akash Sah', 1]
data

{('Hari Sah', 2): ['700', '70%', 'B+']}