In [6]:
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [7]:
import mysql

In [8]:
import import_ipynb

In [9]:
from collections import Counter

In [10]:
def CreateConn():
    return mysql.connector.connect(host='localhost',database='learnvern'
                         ,user='root',password='Anilkumar43863@'
                         ,port='3307')

In [11]:
def ShowAllData():
    conn = CreateConn()
    cursor = conn.cursor()
    query = 'select * from student'
    cursor.execute(query)
    result = cursor.fetchall()
    for i in result:
        print(i)
        
ShowAllData()

(1, 'Anil', 'anilkumarsah927@gmail.com', 'Janakpur')
(2, 'Akash', 'aakash892@gmail.com', 'ktm')

In [12]:
def ShowAllDataById(sid):
    conn = CreateConn()
    cursor = conn.cursor()
    args = (sid)
    query = 'select * from student where sid=%s'
    cursor.execute(query,args)
    result = cursor.fetchall()
    
    for i in result:
        print(i)
        
ShowAllData()

sid = int(input('Enter your Id : '))


ShowAllDataById(sid)

(1, 'Anil', 'anilkumarsah927@gmail.com', 'Janakpur')
(2, 'Akash', 'aakash892@gmail.com', 'ktm')
Enter your Id : 1

ProgrammingError: Could not process parameters: int(1), it must be of type list, tuple or dict