In [ ]:
# Python collection
# Lists
#tuple
#dictionary
#set

In [ ]:
# list
# index
# multiple values
# duplicate values
# ordered
# mutable datatype

In [2]:
a = ['Apple', 'Ball', 'Cat']
print(a)
print(type(a))

['Apple', 'Ball', 'Cat']
<class 'list'>

In [1]:
a = 2
a = 10
a = [2,10]
print(a)

[2, 10]

In [3]:
a = ['Apple', 'Ball', 'Cat', 'Apple']
a[0]

'Apple'

In [6]:
a = ['Apple', 'Ball', 'Cat', 'Apple']
l = len(a)
print(l)

4

In [9]:
a = ['Apple', 'Ball', 'Cat', 'Apple' , 'Fish']
print(a[0:3])
print(a[0:5:2])
print(a[0:1:1])

['Apple', 'Ball', 'Cat']
['Apple', 'Cat', 'Fish']
['Apple']

In [9]:
a = [1,2,3,4]
b = [5,6,7]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7]

In [10]:
a = [1,2,3,4]
a*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [13]:
[1,2,3,4] + [5]

[1, 2, 3, 4, 5]

In [10]:
l = list()
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    l = l + [name]
    
print(l)

Enter n = 2
Enter name = Anil
Enter name = Akash
['Anil', 'Akash']

In [13]:
l = list()
n = int(input('Enter n = '))
for i in range(n):
    name = int(input('Enter name = '))
    l = l + [name]
    
print(l)
print('Total sum,', sum(l))
print('Max value = ', max(l))
print('min value = ', min(l))

Enter n = 4
Enter name = 987
Enter name = 7654
Enter name = 876543
Enter name = 987654
[987, 7654, 876543, 987654]
Total sum, 1872838
Max value =  987654
min value =  987

In [17]:
l.sort()
print(l)

[87, 654, 6543, 8765, 87654]

In [19]:
l = [23,234,564,678,33]
l.sort()
print(l)

[23, 33, 234, 564, 678]

In [20]:
a = 'Hello world I am Anil'
print(a.replace('Anil','Akash'))
print(a)

Hello world I am Akash
Hello world I am Anil

In [22]:
l = ['Ball', 'zebra', 'Cat', 'zebra', 'fish']
l.sort()
print(l)

['Ball', 'Cat', 'fish', 'zebra', 'zebra']

In [23]:
for i in l:
    print(i)

Ball
Cat
fish
zebra
zebra

In [24]:
if 'zebra' in l:
    print('yes', l.count('zebra'))

yes 2

In [28]:
def cal(x):
    l = x[0]
    b = x[1]
    a = l*b
    print(a)
x = [12,5]
cal(x)

60

In [29]:
#append() insert() extend()

a = ['apple','ball','cat']
a.append('fish')
print(a)

['apple', 'ball', 'cat', 'fish']

In [32]:
a = ['apple','ball','cat','goat']
a.insert(1,'fish')
print(a)

['apple', 'fish', 'ball', 'cat', 'goat']

In [34]:
a = ['apple','ball','cat']
b = ['fish','goat']
a.extend(b)
print(a)

['apple', 'ball', 'cat', 'fish', 'goat']

In [35]:
l = list()
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    l.append(name)
    
print(l)

Enter n = 2
Enter name = Anil
Enter name = Akash
['Anil', 'Akash']

In [36]:
a = ['apple','ball','cat','goat']
a[0] = 'ant'
print(a)

['ant', 'ball', 'cat', 'goat']

In [37]:
#del remove() pop()
a = ['apple','ball','cat','goat']
del a[0]
print(a)

['ball', 'cat', 'goat']

In [38]:
a = ['apple','ball','cat','goat']
a.remove('apple')
print(a)

['ball', 'cat', 'goat']

In [39]:
a = ['apple','ball','cat','goat']
a.pop()
print(a)

['apple', 'ball', 'cat']

In [40]:
a = ['apple','ball','cat','goat']
a.pop(2)
print(a)

['apple', 'ball', 'goat']

In [4]:
a = ['apple','ball','cat','goat']
b = a.copy()
b

['apple', 'ball', 'cat', 'goat']

In [42]:
a = ['apple','ball','cat','goat']
a.clear()
print(a)

[]

In [44]:
a = ['apple','ball','cat','goat']
a.reverse()
print(a)

['goat', 'cat', 'ball', 'apple']

In [5]:
a = ['apple','ball','cat','goat']
a.count
print(a)

['apple', 'ball', 'cat', 'goat']

In [6]:
a = ['apple','ball','cat','goat']
a.index
print(a)

['apple', 'ball', 'cat', 'goat']

In [14]:
a = ['apple','ball','cat','goat']
del a[0:3]
a

['goat']

In [15]:
a = ['apple','ball','cat','goat','apple','apple']
a.remove('apple')
a

['ball', 'cat', 'goat', 'apple', 'apple']

In [17]:
a = ['apple','ball','cat','goat','apple','apple']
x = input('Enter x = ')
l = a.count(x)
for i in range(l):
    a.remove(x)
        
    print(a)

Enter x = apple
['ball', 'cat', 'goat', 'apple', 'apple']
['ball', 'cat', 'goat', 'apple']
['ball', 'cat', 'goat']

In [19]:
a = ['apple','ball','cat','goat','apple','apple']
for i in range(len(a)):
    if 'apple' == a[i]:
        print(i)

0
4
5

In [18]:
a = ['apple','ball','cat','goat','apple','apple']
del a[0]
a

['ball', 'cat', 'goat', 'apple', 'apple']

In [25]:
#list inside list
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]

b = [[],[],[]]
a[0][1]

2

In [22]:
a = [['Anil Sah',50,'Janakpur'],
    ['Shyam',60,'Kathmandu'],
    ['Akash',70,'Pokhara']]

print(a[0])
print(len(a))

['Anil Sah', 50, 'Janakpur']
3

In [26]:
info = []
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    age = int(input('Enter age = '))
    add = input('Enter Adress = ')
    data = [name,age,add]
    
    info.append(data)
    
print(info)

Enter n = 2
Enter name = Anil sah
Enter age = 26
Enter Adress = jnk
Enter name = Akash
Enter age = 12
Enter Adress = KTM
[['Anil sah', 26, 'jnk'], ['Akash', 12, 'KTM']]

In [28]:
a = [['Anil sah', 26, 'jnk'], ['Akash', 12, 'KTM']]
name = input('Enter name = ')
for i in a:
    if 'Anil sah' in i:
        print(i)

Enter name = Anil sah
['Anil sah', 26, 'jnk']

In [29]:
a = [['Anil sah', 26, 'jnk'], ['Akash', 12, 'KTM']]
# name = input('Enter name = ')
for i in a:
#     if 'Anil sah' in i:
        print(i)

['Anil sah', 26, 'jnk']
['Akash', 12, 'KTM']

In [30]:
a.append(['Riya',40,'Bara'])
a

[['Anil sah', 26, 'jnk'], ['Akash', 12, 'KTM'], ['Riya', 40, 'Bara']]

In [31]:
a = [['Anil sah', 26, 'jnk'], ['Akash', 12, 'KTM'],
 ['Riya', 40, 'Bara']]
name = input('Enter name = ')
for i in range(len(a)):
    if name in a[i]:
        print(i)

Enter name = Riya
2

In [32]:
a = [['Anil sah', 26, 'jnk'], ['Akash', 12, 'KTM'],
 ['Riya', 40, 'Bara']]
name = input('Enter name = ')
for i in range(len(a)):
    if name in a[i]:
        print(i,a[i])

Enter name = Anil sah
0 ['Anil sah', 26, 'jnk']

In [35]:
a = ['apple','ball','cat','dog']
for i in range(len(a)):
    print(i,a[i])

0 apple
1 ball
2 cat
3 dog

In [38]:
a = [['Anil sah', 26, 'jnk'], ['Akash', 12, 'KTM'],
 ['Riya', 40, 'Bara']]
a[0] = ['ram',58,'bara']
a

[['ram', 58, 'bara'], ['Akash', 12, 'KTM'], ['Riya', 40, 'Bara']]

In [39]:
a = [['Anil sah', 26, 'jnk'], ['Akash', 12, 'KTM'],
 ['Riya', 40, 'Bara']]
a[0][0] = 'ram prasad'
a

[['ram prasad', 26, 'jnk'], ['Akash', 12, 'KTM'], ['Riya', 40, 'Bara']]

In [41]:
a = [['Anil sah', 26, 'jnk'], ['Akash', 12, 'KTM'],
 ['Riya', 40, 'Bara']]
del a[1]
a

[['Anil sah', 26, 'jnk'], ['Riya', 40, 'Bara']]

In [42]:
a = [['Anil sah', 26, 'jnk'], ['Akash', 12, 'KTM'],
 ['Riya', 40, 'Bara']]
for i in a:
    if 'Anil sah' in i:
        a.remove(i)
        
a

[['Akash', 12, 'KTM'], ['Riya', 40, 'Bara']]

In [50]:
a = [['Anil sah', 26, 'jnk'], ['Akash', 12, 'KTM'],
 ['Riya', 40, 'Bara']]
for i in a:
    if 'Akash' in i:
        i.remove('Akash')
a

[['Anil sah', 26, 'jnk'], [12, 'KTM'], ['Riya', 40, 'Bara']]

In [7]:
a = [['Anil sah', 26, 'jnk'], ['Akash', 12, 'KTM'],
 ['Riya', 40, 'Bara']]
for i in a:
    if 'name'in i:
        
        i.remove('name')
a

[['Anil sah', 26, 'jnk'], ['Akash', 12, 'KTM'], ['Riya', 40, 'Bara']]

In [13]:
a = ['apple','ball','cat','dog']
b = ['anil','akash','riya','ritika']
for i in range(len(a)):
    print(i,a[i])
    print(i,b[i])

0 apple
0 anil
1 ball
1 akash
2 cat
2 riya
3 dog
3 ritika

In [23]:
a = [['Anil sah', 26, 'jnk'], ['Akash', 12, 'KTM'],
 ['Riya', 40, 'Bara']]

name = input('Enter name = ')
for i in range(len(a)):
    if name in a[i]:
        
        print(i)

Enter name = Anil sah
0

In [ ]:
# #list inside list
# a = [[1,2,3],
#     [4,5,6],
#     [7,8,9]]
a = [[1,2,3]]

data = [[1,2,3]]

In [1]:
r = int(input('Enter r = '))   #nested loop
c = int(input('Enter c = '))
mat = []
for i in range(r):
    x = []
    for j in range(c):
        data = int(input('Enter data = '))
        x.append(data)
        
    mat.append(x)
    
print(mat)

Enter r = 3
Enter c = 3
Enter data = 34
Enter data = 35
Enter data = 23
Enter data = 34
Enter data = 56
Enter data = 54
Enter data = 65
Enter data = 56
Enter data = 67
[[34, 35, 23], [34, 56, 54], [65, 56, 67]]

In [2]:
mat

[[34, 35, 23], [34, 56, 54], [65, 56, 67]]