In [1]:
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
user_name = os.environ.get('DB_USER')
password = os.environ.get('DB_PASS')

In [3]:
import mysql

In [5]:
def CreateConn():
    return mysql.connector.connect(host='localhost',database='learnvern'
                         ,user='root',password=''
                         ,port='3306')

def CreateTable():
    conn = CreateConn()
    cursor = conn.cursor()
    query = 'create table student3(sid int primary key auto_increment,name VARCHAR(50),email VARCHAR(50),city VARCHAR(50))'
    cursor.execute(query)
    conn.commit()
    print('Table Created')
    conn.close()
CreateTable()

Table Created

#  Insert record in Database

In [63]:
def InsertData(name,email,city):
    conn = CreateConn()
    cursor = conn.cursor()
    args = (name,email,city)
    query = 'insert into student3(name,email,city) values(%s,%s,%s)'
    cursor.execute(query,args)
    conn.commit()
    print('Data Inserted')
    conn.close()
    
n = input('Enter your Name : ')
e = input('Enter your Email : ')
c = input('Enter your City : ')

InsertData(n,e,c)

Enter your Name : Akash
Enter your Email : akash@gmail.com
Enter your City : Jnk
Data Inserted

# Fetch All Data from Database

In [82]:
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [83]:
import mysql

In [84]:
def CreateConn():
    return mysql.connector.connect(host='localhost',database='learnvern'
                         ,user='root',password=''
                         ,port='3306')

In [85]:
def ShowAllData():
    conn = CreateConn()
    cursor = conn.cursor()
    query = 'select * from student3'
    cursor.execute(query)
    result = cursor.fetchall()
    for i in result:
        print(i)
        
ShowAllData()

(1, 'Anil', 'anilkumarsah927@gmail.com', 'Ktm')
(2, 'Akash', 'akash@gmail.com', 'Jnk')

# fetch data by id from database

In [86]:
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [87]:
def CreateConn():
    return mysql.connector.connect(host='localhost',database='learnvern'
                         ,user='root',password=''
                         ,port='3306')

In [88]:
import mysql

In [94]:
def CreateConn():
    return mysql.connector.connect(host='localhost',database='learnvern'
                         ,user='root',password=''
                         ,port='3306')

def ShowAllDataById(sid):
    connect = CreateConn()
    cursor = connect.cursor()
    args = (sid)
    query = 'select * from student3 where sid= %s'
    cursor.execute(query,args)
    result = cursor.fetchall()
    for i in result:
        print(i)
        
ShowAllData()

sid = int(input('Enter your Id : '))

ShowAllDataById(sid)

(1, 'Anil', 'anilkumarsah927@gmail.com', 'Ktm')
(2, 'Akash', 'akash@gmail.com', 'Jnk')
Enter your Id : 1

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '%s' at line 1

# Update data  Delete data

In [78]:
def ShowAllData():
    conn = CreateConn()
    cursor = conn.cursor()
    query = 'select * from student3'
    cursor.execute(query)
    result = cursor.fetchall()
    for i in result:
        print(i)
        
ShowAllData()

(1, 'Anil', 'anilkumarsah927@gmail.com', 'Ktm')
(2, 'Akash', 'akash@gmail.com', 'Jnk')

# update data into database

In [81]:
def UpdateData(name,email,city,sid):
    conn = CreateConn()
    cursor = conn.cursor()
    args = (name,email,city,sid)
    query = 'update student3 set name=%s,email=%s,city=%s,sid=%s'
    cursor.execute(query,args)
    conn.commit()
    print('Data Updated')
    conn.close()
    
ShowAllData()

ssid = int(input('Enter your Id : '))
n = input('Enter your Name : ')
e = input('Enter Email : ')
c = input('Enter your City : ')

UpdateData(n,e,c,sid)

ShowAllData()

(1, 'Anil', 'anilkumarsah927@gmail.com', 'Ktm')
(2, 'Akash', 'akash@gmail.com', 'Jnk')
Enter your Id : 2
Enter your Name : Aakash
Enter Email : aakash1@gmail.com
Enter your City : Ktm

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

In [11]:
import mysql.connector  #importing database

database = mysql.connector.connect(
  host="localhost",
  user='root',
  password="",
  database='anilkumarsah'                                 
)
db = database.cursor()



# import mysql.connector  #importing database​
# ​
# database = mysql.connector.connect(​
#   host="localhost",​
#   user=“root",​
#   password=“”,​

#   database = “”​
# )​
# db = database.cursor()​
# ​
# db.execute(“CREATE  TABLE  subject(id INT, name VARCHAR(255))”)
# ​

In [ ]:
# CRUD
# C-Create
# R-Read
# u-update
# d-delete

In [23]:
#read
db.execute('SELECT * FROM student')
result = db.fetchall()
for x in result:
    print(x)

(2, 'Akash', 23, 45, 78, 90, 67, 89, 670, 80.0, 'A+')
(4, 'Akash', 23, 45, 78, 90, 67, 89, 670, 80.0, 'A+')

In [24]:
#Read
db.execute("SELECT 'Sn', 'Name', 'Class' FROM student")
result = db.fetchall()
for x in result:
    print(x)

('Sn', 'Name', 'Class')
('Sn', 'Name', 'Class')

In [ ]:
# def CreateConn():
#     return mysql.connector.connect(host='localhost',database='learnvern'
#                          ,user='root',password=''
#                          ,port='3306')

# def CreateTable():
#     conn = CreateConn()
#     cursor = conn.cursor()
#     query = 'create table student3(sid int primary key auto_increment,name VARCHAR(50),email VARCHAR(50),city VARCHAR(50))'
#     cursor.execute(query)
#     conn.commit()
#     print('Table Created')
#     conn.close()
# CreateTable()

In [43]:
sql = "INSERT INTO student(Name, Class, Chemistry, Nepali, Math, English, Physics, Total, Percentage, Grade)VALUES ('Akash',23,45,78,90,67,89,670,80.0,'A+')"
db.execute(sql)

database.commit()

In [ ]:
# wap to take input multiple data from users and add it on database

In [15]:
sql = "INSERT INTO student(Name, Class, Chemistry, Nepali, Math, English, Physics, Total, Percentage, Grade)VALUES ('Pooran',50,69,62,60,60,69,590,64.0,'A')"
db.execute(sql)

database.commit()

In [34]:
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter Name = ')
    clas = int(input('Enter Clas = '))
    physics = int(input('Enter Physics Marks = '))
    chemistry = int(input('Enter Chemistry Marks = '))
    math = int(input('Enter Math Marks = '))
    nepali = int(input('Enter Nepali Marks = '))
    english = int(input('Enter English Marks = '))
    total = sum([physics,chemistry,math,nepali,english])
    per = total/5
    if per>80:
        grade = 'A'
        
    elif per>70:
        grade = 'B'
    elif per>60:
        grade = 'C'
    else:
        grade = 'F'
    
    sql = f"INSERT INTO student (Name, Class, Physics, Chemistry, Math, English, Nepali, Total, Percentage, Grade)VALUES ('{name}',{clas},{physics},{chemistry},{math},{english},{nepali},{total},{per},'{grade}')"
    db.execute(sql)
    
database.commit()

Enter n = 1
Enter Name = Anill
Enter Clas = 12
Enter Physics Marks = 70
Enter Chemistry Marks = 67
Enter Math Marks = 68
Enter Nepali Marks = 57
Enter English Marks = 68

In [19]:
sql = 'DELETE FROM student WHERE Sn = 3'
db.execute(sql)
database.commit()

In [22]:
sql = "DELETE FROM student WHERE Grade = 'A'"
db.execute(sql)
database.commit()

In [33]:
sql = "UPDATE student SET Name = 'Anil' WHERE Name = 'Akash' "
db.execute(sql)
database.commit()