In [1]:
a = 'Hello Anil'
print(type(a))
print(a)

<class 'str'>
Hello Anil

In [2]:
a = 'Hello Anil'
print(a[1])

e

In [3]:
a = 'Hello Anil'
print(a[-1])

l

In [5]:
a = 'Hello Anil'
print(a[0:10])

Hello Anil

In [6]:
a = 'Hello world'
print(a[0:10:1])

Hello worl

In [7]:
a = 'Hello world'
print(a[-1:0:-1])

dlrow olle

In [8]:
a = 'Hello world'
print(a[-1::-1])

dlrow olleH

In [1]:
a = 'Hello world'
b = a[0:5]
c = [5:]
print(a)
print(b)
print(c)

SyntaxError: invalid syntax (Temp/ipykernel_26800/1196877559.py, line 3)

In [12]:
a = 'Hello Anil\n'
print(a*2)

Hello Anil
Hello Anil

In [1]:
# String formatting

name = 'Anil'
age = 26
add = 'Kathmandu'
info = f'Hello I am {name}. I am from {add} I am {age}'
print(info)

Hello I am Anil. I am from Kathmandu I am 26

In [3]:
s = str()
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter Name = ')
    phone = int(input('Enter Phone = '))
    info = f'{name} {add}\n'
    s = s+info
    
print(s)

Enter n = 2
Enter Name = anil
Enter Phone = 98765432
Enter Name = akash
Enter Phone = 987654321
anil Kathmandu
akash Kathmandu

In [4]:
s = str()
n = int(input('Enter n = '))
for i in range(n):
    name = input('Enter Name = ')
    price = int(input('Enter Price = '))
    quantity = int(input('Enter Quantity = '))
    phone = int(input('Enter Phone = '))
    info = f'{name} {price} {quantity} {add}\n'
    s = s+info
    
print(s)

Enter n = 1
Enter Name = de
Enter Price = 600
Enter Quantity = 57
Enter Phone = 9876543
de 600 57 Kathmandu

In [6]:
a = 'Ram Anil Hari Sita Gita Anil'
if 'Anil' in a:
    c = a.count('Anil')
    print('Yes')
    print(c)
else:
    print('No')

Yes
2

In [7]:
a = 'Ram Anil Hari Sita Gita Anil'
name = input('Enter Name = ')
if 'Anil' in a:
    
    c = a.count('Anil')
    print(c)
    print('Yes')

else:
    print('No')

Enter Name = Anil
2
Yes

In [8]:
a = 'Ram Anil Hari Sita Gita Anil'
print(a.upper())
print(a.lower())

RAM ANIL HARI SITA GITA ANIL
ram anil hari sita gita anil

In [9]:
a = 'Ram Anil Hari Sita Gita Anil'
print(a.lower())
'RAm'.lower()

ram anil hari sita gita anil

'ram'

In [1]:
a = 'Ram Anil Hari Sita Gita Anil ANil'.lower()
name = input('Enter Name = ').lower()
if name in a:
    
    c = a.count(name)
    print(c)
    print('Yes')

else:
    print('No')

Enter Name = il
3
Yes

In [5]:
a = 'Ram Anil Hari Sita Gita Anil'
b = a.replace('ANil','anil')
print(b)
print(a)

Ram Anil Hari Sita Gita Anil
Ram Anil Hari Sita Gita Anil

In [7]:
a = 'Ram Anil Hari Sita Gita Anil'
a[0:3] = 'prasad'
print(a)

TypeError: 'str' object does not support item assignment

In [2]:
a = 'Ram Anil Hari Sita Gita Anil'
'rama'+a[3:]

'rama Anil Hari Sita Gita Anil'

In [3]:
a = 'Ram Anil Hari Sita Gita Anil'
b = a.replace('ANil','')
print(b)

Ram Anil Hari Sita Gita Anil

# Lists

In [6]:
a = 'Ram Anil Hari Sita Gita Anil'
a.split()

['Ram', 'Anil', 'Hari', 'Sita', 'Gita', 'Anil']