In [ ]:
# indexd
# ordered
# duplicate numbers
# multiple members
# immitable

In [2]:
a = ('apple', 'ball', 'cat', 'dog')
print(type(a))
print(a)

<class 'tuple'>
('apple', 'ball', 'cat', 'dog')

In [4]:
a = ('apple', 'ball', 'cat', 'dog')
a

('apple', 'ball', 'cat', 'dog')

In [5]:
a = ('apple', 'ball', 'cat', 'dog')
a[1]

'ball'

In [6]:
a = ('apple', 'ball', 'cat', 'dog')
a[1:3]

('ball', 'cat')

In [10]:
a = ('apple', 'ball', 'cat', 'dog', 'apple')
b = ('fish', 'goat')
print(a+b)

('apple', 'ball', 'cat', 'dog', 'apple', 'fish', 'goat')

In [11]:
b = ('fish', 'goat')
b*2

('fish', 'goat', 'fish', 'goat')

In [12]:
a = ('fish', 'goat')
print(type(a))

<class 'tuple'>

In [13]:
a = ('fish')
print(type(a))

<class 'str'>

In [14]:
a = ('fish',)
print(type(a))

<class 'tuple'>

In [15]:
a = ('apple', 'ball', 'cat', 'dog', 'apple')
b = ('fish',)
c = a+b
c

('apple', 'ball', 'cat', 'dog', 'apple', 'fish')

In [ ]:
# mutable datatype -> ustable data
# imutable datatype -> static data

In [ ]:
# no append() insert() extend() del() remove() pop() sort() clear()

a = ('apple', 'ball', 'cat', 'dog', 'apple')

In [18]:
data = tuple()
n = int(input('Enter N = '))
for i in range(n):
    x = input('Enter N = ')
    data = data + (x,)
    
print(data)

Enter N = 2
Enter N = Anil
Enter N = Akash
('Anil', 'Akash')

In [19]:
a = ('apple', 'ball', 'cat', 'dog', 'apple')
b = list(a)
b

['apple', 'ball', 'cat', 'dog', 'apple']

In [20]:
a = ['apple', 'ball', 'cat', 'dog', 'apple']
b = tuple(a)
b

('apple', 'ball', 'cat', 'dog', 'apple')

In [21]:
a = ('apple', 'ball', 'cat', 'dog', 'apple',)
b = list(a)
del b[1]
a = tuple(b)
a

('apple', 'cat', 'dog', 'apple')

In [22]:
a = 'Python'
print(list(a))
print(tuple(a))

['P', 'y', 't', 'h', 'o', 'n']
('P', 'y', 't', 'h', 'o', 'n')

In [ ]:
# a = (('Anil, 34, Jnk',
#      'Akash, 12, ktm',
#      'Riya, 10, kataiya'))
# read the senariyo

In [23]:
data = tuple()
n = int(input('Enter N = '))
for i in range(n):
    name = input('Enter Name = ')
    age = int(input('Enter Age = '))
    address = input('Enter Address = ')
    info = (name,age,address)
    data = data + (info,)
    
print(data)

Enter N = 2
Enter Name = Anil
Enter Age = 25
Enter Address = Jnk
Enter Name = Akash
Enter Age = 12
Enter Address = Jnk
(('Anil', 25, 'Jnk'), ('Akash', 12, 'Jnk'))

In [24]:
a = (('Anil', '25', 'Jnk'), ('Akash', '12', 'Jnk'))
list(a)

[('Anil', '25', 'Jnk'), ('Akash', '12', 'Jnk')]

In [25]:
# tuple inside list
a = [('Anil', 25, 'Jnk'), ('Akash', 12, 'Jnk')]
a.append(('Nabin',23,'bara'))
a

[('Anil', 25, 'Jnk'), ('Akash', 12, 'Jnk'), ('Nabin', 23, 'bara')]

In [26]:
a = [('Anil', 25, 'Jnk'), ('Akash', 12, 'Jnk'), ('Nabin', 23, 'bara')]
a[1]

('Akash', 12, 'Jnk')

In [27]:
a = [('Anil', 25, 'Jnk'), ('Akash', 12, 'Jnk'), ('Nabin', 23, 'bara')]
a[2] = ('ram prasad','34', 'ktm')
a

[('Anil', 25, 'Jnk'), ('Akash', 12, 'Jnk'), ('ram prasad', '34', 'ktm')]

In [31]:
# list inside tuple
a = (['Anil', 25, 'Jnk'], ['Akash', 12, 'Jnk'])
type(a)

tuple

In [34]:
a = (['Anil', 25, 'Jnk'], ['Akash', 12, 'Jnk'])
a[0][0] = 'ram prasad'
a

(['ram prasad', 25, 'Jnk'], ['Akash', 12, 'Jnk'])

In [35]:
o = []
a = (('Anil', '25', 'Jnk'), ('Akash', '12', 'Jnk'))
b = list(a)
for i in b:
    x = list(i)
    o.append(x)
    
o

[['Anil', '25', 'Jnk'], ['Akash', '12', 'Jnk']]

In [5]:
data = tuple()
n = int(input('Enter N = '))
for i in range(n):
    name = input('Name = ')
    age = int(input('Age = '))
    date = input('Date = ')
    address = input('Address = ')
    mobile_number = int(input('Mobile_Number = '))
    email_id = input('Email_ID = ')
    
    info = (name,age,date,address,mobile_number,email_id)
    data = data+(info,)
    
print(data)

Enter N = 1
Name = Anil Kumar Sah
Age = 26
Date = 1/28/2022
Address = Jnkp
Mobile_Number = 9817853704
Email_ID = anilkumarsah927@gmail.com
(('Anil Kumar Sah', 26, '1/28/2022', 'Jnkp', 9817853704, 'anilkumarsah927@gmail.com'),)

In [4]:
data = tuple()
n = int(input('Enter N = '))
for i in range(n):
    school_name = input('School_Name = ')
    student_name = input('Student_Name = ')
    admission_date = input('Admission_Date = ')
    address = input('Address = ')
    mobile_number = int(input('Mobile_Number = '))
    email_id = input('Email_ID = ')
    
    info = (school_name,student_name,admission_date,address,mobile_number,email_id)
    data = data+(info,)
    
print(data)

Enter N = 3
School_Name = MIT
Student_Name = Akash Sah
Admission_Date = 1/28/2019
Address = Jnkp
Mobile_Number = 9817853704
Email_ID = akashsah892@gmail.com
School_Name = MIT
Student_Name = Riya Sah
Admission_Date = 1/28/2020
Address = Jnkp
Mobile_Number = 9812134811
Email_ID = riyasah@gmail.com
School_Name = MIT
Student_Name = Ritika Sah
Admission_Date = 1/28/2021
Address = Jnkp
Mobile_Number = 9844243863
Email_ID = ritikasah@gmail.com
(('MIT', 'Akash Sah', '1/28/2019', 'Jnkp', 9817853704, 'akashsah892@gmail.com'), ('MIT', 'Riya Sah', '1/28/2020', 'Jnkp', 9812134811, 'riyasah@gmail.com'), ('MIT', 'Ritika Sah', '1/28/2021', 'Jnkp', 9844243863, 'ritikasah@gmail.com'))